@import '../../css/base.styl'

.description {
  card();
  height: 110px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 19px;
  font-weight: 500;
  color: $black;
  margin-right: 10px
}
.reset {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: $red;
  font-size: 12px;
  &:hover {
    color: #c52626
  }
}

