@import '../../css/base.styl'

.select {
  .dropdown {
    cursor pointer

  }
  .text {
    margin-left: 4px
    color $green
    font-weight: 600;
  }

}

.icon {
  color: $green;
  font-size: 11px;
}
