@import '../../css/base.styl'

.card {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;

  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.trash {
  cursor pointer
}

.content {
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center
  justify-content: center
  .amount {
    margin: 0
    padding: 0
    font-size 25px
  }

  button {
    border none
  }
}


.image {
  width: 100px;
  height: auto;
}
