@import '../../css/base.styl'

.card {
  card();
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.trash {
  cursor pointer
  &:hover path {
    fill: $red
  }
}

.content {
  display: flex;
  @media (max-width 645px) {
    flex-direction: column;
  }
}

.leftBlock {
  display: flex;
}

.middle {
  position: relative
  display: flex
  .modification {
    color $grey
    display: flex;
    width: 80px;
    justify-content: space-between;
    position: absolute
    align-items: center;
    .title {
      margin-right: 14px
    }
    .modImage {
      height: 18px
    }
  }
}

.details {
  font-size 16px
  justify-content: space-between;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  @media (max-width 645px) {
    align-items: flex-start
  }
}

.gift {
  @extend .details
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .icon {
    color $yellow
  }
}

.price {
  color: $grey;
  font-size 14px
  .amount {
    color: $black;
    font-weight 700
    font-size 18px
  }
}

.discount, .minDiscount {
  font-size 14px
  color: $lightGreen;
  .amount {
    color: $green;
    font-weight 700
    font-size 18px
  }
}

.image {
  width: 90px;
  height: auto;
  margin-right: 25px;
}
