@import '../../css/base.styl'

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0
    list-style none
    .menuItem {
      padding: 0 10px
      color $grey
      font-weight: 400;
      display: flex
      &:hover, &:active {
        color $darkGreen
      }
    }
  }
