@import '../../css/base.styl'

.header {
  background-color $headerBackground
  font-weight: 500;
  .topLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    @media (max-width 590px) {
      flex-direction: column;
    }
  }

  .bottomLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
  }
}

  .logo {
    margin-bottom: 5px
  }
.identity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width 590px) {
    flex-direction: column;
  }
  .promoCode {
    margin: 0 15px;
    color $red
  }

  .status {
    margin: 0 15px;
    color $yellow
  }

  .balance {
    margin-left: 0 15px;
    display: flex
    .amount {
      color $green
    }
  }
}

.company {
  display: flex;
  align-items: center;
}

.region {
  display: flex
}

.basket {
  color $grey
  position: relative
  .basketCount {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bolder;
    top: -3px;
    right: -5px;
  }
}

.navigation {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: unsafe;
  display: flex;
  margin-right: 12px;
  @media (max-width 590px) {
    justify-content: flex-start;
  }
}

