$mainColor = #fff;
$headerBackground = #f9fafb;
$green = #40b39c;
$grey = #8f98a6;
$blue = #247ba6;
$red = #ff7272;
$yellow = #fea612;

$large = 1800px;
$big = 1430px;
$middle = 998px;
$small = 700px;
$minSize = 350px;
$baseFont = 'Roboto', sans-serif;
